@font-face {
    font-family: "font1";
    src: url("./assets/fonts/font1.woff2") format("truetype");
}

@font-face {
    font-family: "font2";
    src: url("./assets/fonts/font2.woff2") format("truetype");
}

@font-face {
    font-family: "font3";
    src: url("./assets/fonts/font3.woff2") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    min-width: 100%;
}

/* body::-webkit-scrollbar{
    display: none;
    scrollbar-gutter: stable;
} */

main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 4% 46% 12% 4.6% 29.4% 4%;
    grid-template-rows: 11vh 12vh 32vh 16vh 104vh 104vh 21vh;
    ;
    grid-template-areas:
        "nav nav nav nav nav nav"
        "header-left header-center header-center header-center header-center header-right"
        "info-left info-center1 info-center1 info-center2 info-center3 info-right"
        "contact-left contact-center contact-center contact-center contact-center contact-right"
        "work-left work-center work-center work-center work-center work-right"
        "about-left about-left about-right about-right about-right about-right"
        "about-bottom about-bottom about-bottom about-bottom about-bottom about-bottom";

}

.sections {
    border: 0.2px solid rgb(226 218 203);
    background-color: rgb(242 235 225);
}

.nav {
    padding: 1rem 4rem;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
}

.navsection {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navsection h2 {
    font-size: 1.8rem;
    font-family: "font1";
    font-weight: 500;
}

.navsection img {
    height: 30px;
    width: 27px;
}


.navright {
    padding: 10px 19px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.navright h4 {
    border-radius: 4px;
    padding: 14px 20px;
    background-color: rgb(5, 5, 5);
    color: white;
}

.navright img {
    display: none;
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid black;
    height: 47px;
    width: 47px;
}


.header-left {
    grid-area: header-left;

}

.header-right {
    grid-area: header-right;
}

.header-center {
    grid-area: header-center;
}

.info-left {
    grid-area: info-left;
}

.info-right {
    grid-area: info-right;
}

.info-center1 {

    grid-area: info-center1;
}

.info-center2 {
    grid-area: info-center2;
}

.info-center3 {
    
    grid-area: info-center3;
}

.contact-left {
   
    grid-area: contact-left;
}

.contact-right {
   
    grid-area: contact-right;
}

.contact-center {
  
    grid-area: contact-center;
}

.work-left {
    grid-area: work-left;
}

.work-right {
    grid-area: work-right;
}

.work-center {
    grid-area: work-center;
}

.about-left {
    grid-area: about-left;
}

.about-right {
    grid-area: about-right;
}

.about-bottom {
    grid-area: about-bottom;
}


@media (max-width: 1200px) {
    main {
        grid-template-columns: 5% 46% 6% 8.5% 29.5% 5%;
        grid-template-rows: 12.5vh 9.5vh 31vh 34.5vh 16vh 104vh 104vh 16vh;
        grid-template-areas:
            "nav nav nav nav nav nav"
            "header-left header-center header-center header-center header-center header-right"
            "work-left info-center1 info-center1 info-center1 info-center1 work-right"
            "info-left info-center2 info-center2 info-center3 info-center3 info-right"
            "contact-left contact-center contact-center contact-center contact-center contact-right"
            "contact-left work-center work-center work-center work-center contact-right"
            "about-left about-left about-right about-right about-right about-right"
            "about-bottom about-bottom about-bottom about-bottom about-bottom about-bottom";
    }
    .navright img {
    display: none;
}
}


@media (max-width: 767px) {
    main {
        grid-template-columns: 3.5% 46.5% 7% 9.5% 29.5% 3.5%;
        grid-template-rows: 13vh 10vh 13vh 32vh 80vh 80vh 16vh;
        grid-template-areas:
            "nav nav nav nav nav nav"
            "header-left header-center header-center header-center header-center header-right"
            "work-left info-center1 info-center1 info-center1 info-center1 work-right"
            /* "info-left info-center2 info-center2 info-center3 info-center3 info-right" */
            "contact-left contact-center contact-center contact-center contact-center contact-right"
            "contact-left work-center work-center work-center work-center contact-right"
            "about-left about-left about-left about-left about-left about-left"
            "about-bottom about-bottom about-bottom about-bottom about-bottom about-bottom";
    }
        .navright img {
    display: none;
}
}

@media (max-width: 410px) {

    main {
        grid-template-columns: 1fr 12fr 1fr 2fr 7fr 1fr;
        grid-template-rows: 11.5vh 9.5vh 12vh 29vh 65vh 125vh 16vh;
        grid-template-areas:
            "nav nav nav nav nav nav"
            "header-left header-center header-center header-center header-center header-right"
            "work-left info-center1 info-center1 info-center1 info-center1 work-right"
            /* "info-left info-center2 info-center2 info-center3 info-center3 info-right" */
            "contact-left contact-center contact-center contact-center contact-center contact-right"
            "contact-left work-center work-center work-center work-center contact-right"
            "about-left about-left about-left about-left about-left about-left"
            "about-bottom about-bottom about-bottom about-bottom about-bottom about-bottom";
    }

    .navright h4 {
        display: none;
        border-radius: 4px;
        padding: 14px 20px;
        background-color: rgb(5, 5, 5);
        color: white;
    }

    .nav {
        padding: 1rem 0rem;
        grid-area: nav;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 1000;
    }



    .navright img {
        display: block;
        padding: 8px;
        background-color: white;
        border-radius: 50%;
        border: 4px solid black;
        height: 47px;
        width: 47px;
    }

    .navsection {
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .navsection h2 {
        font-size: clamp(1.2rem, 8vw, 2rem);
        font-family: "font1";
        font-weight: 500;
    }

    .navsection img {
        height: 30px;
        width: 27px;
    }
    .info-center1 h2{
        font-family: "font1";
        font-size: clamp(1rem,1.8rem,1.9rem);
        font-weight: 500;

    }

    .contact-center{
        padding: 1rem 0.5rem;
        font-family: "font1";
        font-weight: 100;
    }
    .contact-center h3{
        margin-top: 37px;
        background-color: rgb(5, 5, 5);
        padding: 10px 14px;
        color: #fff;
        width: fit-content;
        font-family: "font1";
        font-weight: 100;
        border-radius: 4px;

    }
    .contact-center p{
        opacity: 0.7;
    }
    .work-center{
        padding: 4px 5px;

    }

    .work-center video{
        border-radius: 10px;
        height: 424px;
        width: 100%;
        object-fit: cover;
    }
    .about-left {
        font-family: "font1";
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 5.5rem 15px;
    }

    .about-left h2{
        font-size: clamp(1rem,7vw,2rem);
        font-weight: 100;

    }
    .about-left p{
        font-size: clamp(1rem,4.6vw,2rem);
        opacity: 0.5;
        font-weight: 100;

    }
    .about-left h3{
        border-radius: 4px;
        width: fit-content;
        background-color: rgb(255, 255, 255);
        padding: 8px 14px;
        font-size: clamp(1rem,4vw,2rem);
        font-weight: 100;

    }

}